<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All the Pokemon!</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <style>
        
    </style>
</head>
<body>
    <!-- Takes clients back to the home page -->
    <a href="/">Back to the homepage</a>
    <br>
    <!-- Takes client to a form page where they can create a new document -->
    <a href="/createOneMon">Create a new Pokemon</a>

    <!-- This populates each document in the collection -->
    <% pokemon.forEach( (mon) => { %>
        <h1>
            Pokedex No. <%= mon.PokedexNo %>
        </h1>
        <h2>
            Name: <a href="/oneMon/<%=mon.Name%>"><%= mon.Name %></a>
        </h2>
    <% }) %>

</body>
</html>