<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon App</title>
</head>
<body>
    <h1>Welcome to our Pokemon App</h1>
    <br>
    <a href="/signUp">Sign Up for this app</a>
    <br>
    <a href="/logIn">Log In to your account on this app</a>
    <br>

    <!-- This takes clients to see the entire Pokemon collection -->
    <a href="/allMons">See all the Pokemon in the database</a>
</body>
</html>