<img src="/noble.jpg"/>
        <h1>Noble Desktop</h1>
        <% if(user) { %>
            <h2 class="welcome">
                Welcome <%= user %>
            </h2>
        <% } %>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/log-in">Log in</a></li>
        </ul>