<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<body>
    <%- include("./partials/navbar") %>
    <h1>
        Logged in!! 
    </h1>
    <br>
    <a href="/logout">Log Out</a>
</body>
</html>